[submodule "i2cdevlib"]
	path = i2cdevlib
	url = https://github.com/jrowberg/i2cdevlib.git
[submodule "CRC32"]
	path = CRC32
	url = https://github.com/bakercp/CRC32
[submodule "Arduino-MS5611"]
	path = Arduino-MS5611
	url = https://github.com/jarzebski/Arduino-MS5611
